<div data-ng-controller="ActiveTodosCtrl as activeCtrl">
  <div class="row"
    data-ng-repeat="todo in activeCtrl.states.todos | filter:{completed: false} | orderBy:'createdAt'"
    style="margin-bottom: 3px;">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
      <div class="input-group input-group-lg">
        <span class="input-group-btn">
          <button class="btn btn-success"
            data-ng-click="activeCtrl.doneTodo(todo)"
            data-ng-disabled="!activeCtrl.states.isToday"
            type="button">
            <span class="glyphicon glyphicon-ok"></span>
          </button>
        </span>
        <div class="form-control" data-ng-click="activeCtrl.toggleCurrent(todo)"
          data-ng-class="{current: todo._id === activeCtrl.states.currentTodo._id}">
          <div class="todo-list">{{todo.title}}</div>
          <div class="todo-list-label">
            <span class="label label-warning"
              data-ng-show="todo._id === activeCtrl.states.currentTodo._id && activeCtrl.states.currentSongs.length > 0">
              BPM: {{activeCtrl.states.currentSongs[0].bpm}}</span>
            <span class="label label-info"
              data-ng-show="todo._id === activeCtrl.states.currentTodo._id && activeCtrl.states.currentSongs.length > 0">
              Major: {{activeCtrl.states.currentSongs[0].key}}</span>
            <span class="label label-primary">{{todo.song.category}}</span>
            <span class="label label-success">{{todo.song.book}}</span>
          </div>
        </div>
        <span class="input-group-btn">
          <button class="btn btn-default"
            data-ng-click="activeCtrl.removeTodo(todo)"
            data-ng-disabled="activeCtrl.states.isBefore" type="button">
            <span class="glyphicon glyphicon-trash"></span>
          </button>
        </span>
      </div>
    </div>
  </div>
</div>
