<div data-ng-controller="CompletedTodosCtrl as completedCtrl">
  <div class="row"
    data-ng-repeat="todo in completedCtrl.states.todos | filter:{completed: true} | orderBy:'completedAt'"
    style="margin-bottom: 3px;">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
      <div class="input-group">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" disabled="disabled">
            {{todo.duration | secondsToTime}}
          </button>
          <button class="btn btn-danger"
            data-ng-click="completedCtrl.activateTodo(todo)"
            type="button"
            data-ng-disabled="!$last || completedCtrl.states.isBefore">
            <span class="glyphicon glyphicon-remove"></span>
          </button>
        </span>
        <div class="form-control">
          <div class="form-label">{{todo.title}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
