<div class="row" ng-controller="CompletedTodosCtrl">
  <div class="row" ng-repeat="todo in todos | filter:{completed: true} | orderBy:'completedAt'" style="margin-bottom: 3px;">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
      <div class="input-group">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" disabled="disabled">
            {{todo.duration | secondsToTime}}
          </button>
          <button class="btn btn-danger" ng-click="activateTodo(todo)" type="button" ng-disabled="!$last">
            <span class="glyphicon glyphicon-remove"></span>
          </button>
        </span>
        <div class="form-control">
          <div class="form-label">{{todo.title}} - {{todo.completedAt}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
