<div class="input-group input-group-lg">
  <span class="input-group-addon">
    <span class="dial" data-width="130" data-height="130" data-value="60"></span>
  </span>
  <div class="form-control text-center" style="height: 182px;">
    <span class="badge" style="font-size: 25px;">
      <div class="strong" id="elapse">{{states.elapse | secondsToTime}}</div>
    </span>
    <hr style="margin-top: 20px; margin-bottom: 5px;" />
    <table width="100%">
      <tr>
        <td>
          <button ng-click="beatsDown()" type="button" class="btn btn-default btn-md" title="dec">
            <span class="glyphicon glyphicon-chevron-down"></span>
          </button>
        </td>
        <td style="padding-bottom:0px;">
          <table class="led beats" style="width: 100%;">
            <tr>
              <td id="beat0">1</td>
              <td id="beat1">2</td>
              <td id="beat2">3</td>
              <td id="beat3">4</td>
            </tr>
          </table>
        </td>
        <td>
          <button ng-click="beatsUp()" type="button" class="btn btn-default btn-md" title="inc">
            <span class="glyphicon glyphicon-chevron-up"></span>
          </button>
        </td>
      </tr>
    </table>
    <hr style="margin-top: 5px; margin-bottom: 15px;" />
    <div class="btn-group" style="width: 155px;">
      <button type="button"
        class="btn btn-default btn-lg"
        ng-class="{'btn-primary': 'metronome' == mode}"
        ng-click="setMode('metronome')"
        title="metronome">
        <span class="glyphicon glyphicon-dashboard"></span>
      </button>
      <button type="button"
        class="btn btn-default btn-lg"
        title="melody"
        ng-class="{'btn-primary': 'melody' == mode}"
        ng-click="setMode('melody')"
        ng-disabled="states.currentSongs.length == 0">
        <span class="glyphicon glyphicon-headphones"></span>
      </button>
      <button type="button"
        title="piano"
        class="btn btn-default btn-lg"
        ng-class="{'btn-primary': 'accompany' == mode}"
        ng-click="setMode('accompany')"
        ng-disabled="states.currentSongs.length == 0">
        <span class="glyphicon glyphicon-music"></span>
      </button>
    </div>
  </div>
  <span class="input-group-addon">
    <button ng-click="toggleStart()" type="button" class="btn btn-lg btn-success" ng-class="{'btn-danger': states.timerOn}" title="Start Metronome" style="width: 100px; height: 85px;">
      <span class="glyphicon glyphicon-time"></span><span ng-hide="states.timerOn"> Start</span><span ng-show="states.timerOn"> Stop</span>
    </button>
  </span>
</div>
