<div class="row" ng-controller="NavCtrl">
  <div class="col-xs-12">
    <div class="pull-left">
      <span ng-click="gotoCalendar()" class="btn btn-info btn-xs"
        ng-class="{'btn-danger': data.isBefore, 'btn-warning': data.isAfter}">
        {{ data.currentDate }}
      </span>
    </div>
    <div class="pull-right">
      <nav>
        <div class="btn-group btn-group-xs">
          <button type="button" class="btn btn-info previous" ng-click="gotoPrevDay()">
            <span class="glyphicon glyphicon-chevron-left"></span> PREV
          </button>
          <button type="button" class="btn btn-info today" ng-click="gotoToday()"> TODAY</button>
          <button type="button" class="btn btn-info next" ng-click="gotoNextDay()"> NEXT
            <span class="glyphicon glyphicon-chevron-right"></span>
          </button>
        </div>
      </div>
    </nav>
  </div>
</div>
