<script type="text/ng-template" id="songSelectorTpl.html">
  <a>
    <span bind-html-unsafe="match.model.title | typeaheadHighlight:query"></span>
    [<span bind-html-unsafe="match.model.category"></span> - <span bind-html-unsafe="match.model.book"></span>]
  </a>
</script>

<script type="text/ng-template" id="myModalContent.html">
  <div class="modal-header">
    <h3 class="modal-title">Todo list</h3>
  </div>
  <div class="modal-body">
    You are working on an earlier todo list dated at <b>{{ modalCtrl.states.currentDate }}</b>
    <p>
    Do you want to create the todo item and switch to today's list?
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="modalCtrl.yes()">Yes</button>
    <button class="btn btn-warning" ng-click="modalCtrl.no()">No</button>
  </div>
</script>

<div data-ng-hide="newCtrl.states.isBefore" class="row" data-ng-controller="NewTodoCtrl as newCtrl">
  <div class="col-xs-2"></div>
  <div class="col-xs-8">
    <form data-ng-submit="newCtrl.addTodo()" class="form-horizontal">
      <div class="form-group">
        <div class="input-group input-group-lg">
          <div class="input-group-addon"> <span class="glyphicon glyphicon-search"></span> </div>
          <input id="new-input" type="text"
            autofocus
            data-ng-model="newCtrl.song"
            placeholder="What needs to be done?"
            typeahead="song as song.title for song in newCtrl.states.songs | filter:{title:$viewValue}"
            typeahead-template-url="songSelectorTpl.html"
            class="form-control">
            <span class="input-group-btn">
              <a id="go-btn" class="btn btn-default"
                data-ng-click="newCtrl.addTodo()">Go</a>
            </span>
        </div>
      </div>
    </form>
  </div>
  <div class="col-xs-2"></div>
</div>
