.todo-list {
  margin-top: -6px;
  font-size: 16px;
}
.todo-list-label {
  margin-top: 0;
  font-size: 12px;
  float: right;
}

.current {
  background-color: #B0EECB;
  color: #39aa39;
  font-weight: bold;
}
